.contact-bd{
    @include about-body;
   
 
 }
 .contact-hd{
    @include about-header;
 
     &__input{
         display: none;
 
         
         
     }
 
     &__input:checked ~ nav{
         transform: scale(1, 1);
        
     }
 
     &__input:checked ~ nav li a{
         opacity: 1;
         transition: opacity 500ms ease-in-out 500ms; 
         
     }
 
     &__toggle-label{
         @include label;
     }
 
     &__logo-div{
         width: 5rem;
 
     
     }
     &__logo{
         width: 100%;
         padding-top: .2rem;
     }
     
 }
 
 
 .contact-nav{
    @include nav-style;
 
     
 
     
 
 }
 
 .contact-nav__li{
    @include nav-item-style;
     
 }
 
 .contact-nav-li__a{
     @include nav-link-style;
     
 }  
 
 .contact-nav__li-drop{
     
     @include nav-drop-styles;
     
 
     .contact-nav-li-drop__a{
 
         @include nav-link-style;
     
     }
 }
 

 .contact-social-icons{
     padding: 1rem;
     border: 1px solid rgba(0,0,0, .2);
 
     .contact-social-icons__a {
         color: inherit;
 
         .fab {
             opacity: .3;
             margin-right: .5rem;  
         }
 
         .fas{
             height: 3rem;
             
             
         }
         
     }
 }

 .contact-wrapper{
     display:flex;
     flex-direction: column;
     align-items: center;
     overflow-x: hidden;

    &__h1{

        padding: 2rem 0;
        letter-spacing: .4rem;
        font-size: 2rem;
        line-height: 1.5;
        margin-right: 5.2rem;
       

    }

    .map-wrap{
        width: 90%;
        

        #map{
            height: 250px;
            width: 100%;
        }
    
    }

    .get-in-touch{
        margin-top: 2rem;


       


        .contact-intro{

            margin: 0 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;


            &__h6{

                font-size: 1rem;
                letter-spacing: .01rem;
                margin-left: 1rem;


            }

            &__p{

                width: 100%;
                margin: 1rem 1rem;
                font-size: .8rem;
                font-weight: normal;

            }

            &__p-dash{
                width: 100%;
                margin: 0rem 1rem 1.5rem 1rem;
                font-size: .8rem;
                font-weight: normal;

            }
        }

        .contact-steph{

            @extend .contact-intro;
            line-height: 0;
            margin-bottom: 2rem;
            

            &__h6{
                @extend .contact-intro__h6;
                margin-bottom: 1rem;
               
                
            }

            &__p{
                width: 100%;
                margin-left: 1rem;
                font-size: .8rem;
                font-weight: normal;
                line-height: 2;

               

            }

           

        }

        .contact-matt{

            @extend .contact-steph;
            margin-bottom: 1rem;
           

            &__h6{
                @extend .contact-steph__h6;

            }

            &__p{
                @extend .contact-steph__p;

            }


        }
        
       
    }

    .stanford-logo-contact{
        width: 90%;

        &__img{

            width: 100%;

        }
    }

    .contact-form{
        @include form;

        &__name{

         @include name-div;

         &-label{

             @include name-label;

         }

        }

        .contact-form-first-last{
            @include first-last-div;
            

            #first-name{

               @include first-name-input;
               
              
            }

            #last-name{
                @include last-name-input;
            }

            .contact-form__label-first{
               @include first-name-label;
            }

            .contact-form__label-last{
                @include last-name-label;
                
            }


           }

           .contact-form-email{

            @include email-div;

            &__label{

                @include email-label;
            }
            #email{
                @include email-input;

            }
           }

           .contact-form-subject{
               @extend .contact-form-email;

               &__label{
                   @extend .contact-form-email__label;
               }
           }

           .contact-form-message{
               @extend  .contact-form-subject;

               &__label{
                   @extend .contact-form-subject__label;
               }

               #message{
                   width: 92%;
                   align-self: center;
                   
               }

           }

           button{
            @include button;

            &:hover{

                @include button-hover;

            }
        }

           

         

           
        



    }//contact form bracket
 }//contact wrapper bracket 










 .subject-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
 }
 .subject-wrapper label{
    color:rgba(0,0,0, .5);
    letter-spacing: 2px;
    padding: .5rem;
 }

 #subject{
    padding: .5rem;
    width: 92%;
    align-self: center;
    margin-right: .45rem;
 }

 .message-wrapper{
    display: flex;
    flex-direction: column;
    width: 95%;
    padding-left: .7rem;
    margin-bottom: 2rem;

 }

 .message-wrapper label{
    color:rgba(0,0,0, .5);
    letter-spacing: 2px;
    padding: .5rem 0;

 }