







/* About Pages: Stephanie, Matt, and Felix */



/* COMPASS */

.about-heading-compass{
    
    font-weight: 100;
    font-size: 2.25rem;
    padding: 4rem 2rem;
    letter-spacing: 10px;
}
.compass-img-wrapper{
    width: 90%;
    height: 13rem;
    overflow: hidden;
    position: relative;
   
   
}

.compass-img-wrapper p{
    color: white;
    text-align: center;
    padding: 0 2rem;
    line-height: 1.5;
}

.compass-img-wrapper p:first-child{
    margin-top: 3.5rem;
    font-size: 1rem;
}
.compass-img-wrapper p:nth-child(2){
   
   font-size: .75rem;
   opacity: .9;
   
}

.compass-image{
    width: 100%;
    
    position: absolute;
    top: -110px;
    object-fit: cover;
    z-index: -1
    
}
.compass-info{
    width: 100%;
    text-align: center;
    padding: 1rem;
}
.compass-info p{
    font-weight: bolder;
    opacity: .7
}

.compass-divider{
    border-top: 2px solid rgba(0,0,0, .2);
    padding: 1px;
    width: 95%;
    margin: 4rem auto 2rem auto;
}

.talk-bubble-wrapper h3,
.hands-wrapper h3{
    opacity: .7;
    letter-spacing: 2px;
    margin: 2rem auto 0 auto;
    padding: 0 1rem;
    text-align: center;
    line-height: 1.75;
}

.talk-bubble-img{
    text-align: center;
}

.talk-bubble-wrapper p,
.hands-wrapper p{

    font-size: 1rem;
    padding: .8rem;
    text-align: center;
}

.hands-wrapper{
    text-align: center;
    
}

.compass-section-3{
    text-align: center;
}

.compass-section-3 h2{
font-size: 2rem;
padding-bottom: 1.5rem;


}
.compass-section-3 p{
    padding: 0 2rem 3rem 2rem;
}

.map-div{
    width: 100%;
}

.map{
    width: 90%;
    margin-right: 1rem;
}

.national-reach{
    position: relative;
    left: 3.5rem;
    bottom: 5.1rem;
    background-color: #000;
    color: #fff;
    width: 80%;
    text-align: left;
    padding-bottom: 1px;
    
}

.national-reach h3{
    font-size: 1.5rem;
    margin-left: 2rem;
    padding: 2rem 0 1rem 0;
}

.national-reach p{
    margin: 0;
    padding: 0;
    margin-left: 2rem;
}

.national-reach p:nth-child(3){
    font-size: .8rem;
    margin-right: 2.5rem;
}

.national-reach p a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.seattle{
    font-weight: bold;
}

.seattle-pic-wrapper{
    width: 90%;
    margin: -2.5rem auto 0 auto;
}

.seattle-pic{
    width: 100%;
}

.compass-section-4 h3{
    display: inline-block;
    position: relative;
    bottom: 2.3rem;
    left: 2rem;
    background-color: white;
    letter-spacing: 5px;
    padding: .25rem;
    font-size: 1.5rem;
    

    
}

.compass-section-4 p{
    font-size: .9rem;
    padding: 0 1.3rem;
    margin-top: -2rem;



}

/* concierge */

.concierge-heading{
    padding: 4rem 1.5rem;
    letter-spacing: 10px;
    font-size: 2.5rem;
    line-height: 1.5;
}

.concierge-gif-wrap{
    width: 80%;
    margin-right: 2rem;
}

.concierge-gif{
    width: 100%;
}

.concierge-card{
    position: relative;
    left: 1.5rem;
    bottom: 4.5rem;
    background-color: #000;
    color: #fff;
    width: 80%;
    text-align: left;
    
    
}
.concierge-card p:first-child{
    font-size: .8rem;
    margin: 1rem auto;
    padding: 0 2rem;

   
}

.concierge-card p:last-child{
    font-size: .9rem;
    font-weight: bolder;
    margin: 0 auto 1rem auto;
    padding: 0rem 2rem 0 2rem;
}

.concierge-contact h2{
    font-size: 2rem;
    letter-spacing: 5px;
    line-height: 1.7;
    margin-top: -1rem;
    padding: 0 1rem;
}

.form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}


.name{
    display: flex;
    flex-direction: column;
    
   
}

.first-last{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
    
}
.name-label,
.email-label,
.phone-label {
    padding: .5rem 0 .5rem .6rem;
    letter-spacing: 2px;
    color: rgba(0,0,0, .5);

}

#first-name,
#last-name{
    width: 45%;
    padding: .5rem;
}

.first-last label{
    font-size: .65rem;
    letter-spacing: 2px;
    padding-top: .5rem;
    color:rgba(0,0,0, .7)
}

.first-name-label{
    margin-right: 5rem;
   
   
}
.last-name-label{
    margin-right: 5.6rem;
}


.email {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}
#email{
    padding: .5rem;
    width: 92%;
    align-self: center;
    margin-right: .45rem;

}

.phone{
    display: flex;
    flex-direction: column;
}
.phone-input{
    display: flex;
    padding-left: .7rem;
    grid-gap: 1rem;
   
}

#phone{
    width: 20%;
    padding: .5rem;

}
.phone-hash{
    padding-left: 1rem;
    display: flex;
    grid-gap: 3rem;
    font-size: .85rem;
    padding-top: .5rem;
    opacity: .6;
    margin-bottom: 2rem;
}

button{
    width: 40%;
    padding: 1.5rem 2rem;
    border-radius: 0;
    color: white;
    background-color: black;
    border: none;
    margin-left: .8rem;
    margin-bottom: 3rem;
}

button:hover{
    background-color: rgba(0,0,0, .8);
    cursor: pointer;
}

.concierge-bottom{
    display: flex;
    flex-direction: column;
    align-content: center;
    
}

.smart, .fast, .transparent, .easy{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.smart h3,
.fast h3,
.transparent h3,
.easy h3 {
    font-size: 2rem;
    letter-spacing: 3px;
    padding: 1rem;

}

.smart p,
.fast p,
.transparent p,
.easy p{
    padding: 0rem 1rem;
    letter-spacing: 3px;
    font-size: 1rem;
}

/* testimonial */

.testimonial-heading {
    font-weight: 100;
    font-size: 2.25rem;
    padding:  4rem 0;
    letter-spacing: 5px;

}

.testimonial-names{
   
    width: 80%;
    text-align: right;
    
    
}
.mattstephandfelix{
    margin-top: 2rem;
}

.dots-img-wrapper{
   margin: 3rem 0;
    width: 80%;
}
.dots{
    object-fit: cover;
    width: 90%;
   
   

}

/* transaction */

.transaction-heading{
    font-weight: 100;
    font-size: 2.25rem;
    padding:  3rem 0;
    letter-spacing: 5px;
}

.transaction-secondary-heading{
    font-size: 1.9rem;
    line-height: 1.5;
    letter-spacing: 5px;
    padding-left: 1.1rem;
    margin-bottom: 2rem;
}

.recent-sold-wrap{
    width: 90%;
    padding-bottom: 2rem;
}
.recent-sold-img{
    width: 100%;
}



/* contact */

.contact-heading{
    padding: 4rem 1.5rem;
    letter-spacing: 10px;
    font-size: 2.5rem;
    line-height: 1.5;
    margin-right: 4rem;
}
.map-wrap{
    width: 90%

}
#map{
    height: 250px;
    width: 100%;
}

.get-in-touch{
    margin-top: 2rem;
    
   
}
.get-in-touch p{
    margin: 0;
}

.contact-intro,
.contact-steph,
.contact-matt{
    margin: 0 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-intro h6,
.contact-steph h6,
.contact-matt h6 {
    font-size: 1rem;
    letter-spacing: 2px;
}

.contact-intro p{
   
    width: 100%;
    margin: 1rem 0;
}

.contact-steph,
.contact-matt {
    line-height: 2;

}

.stanford-logo-contact{
    width: 90%;
}

.logo-img{
    width: 100%;
}

.subject-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.subject-wrapper label{
    color:rgba(0,0,0, .5);
    letter-spacing: 2px;
    padding: .5rem;
}

#subject{
    padding: .5rem;
    width: 92%;
    align-self: center;
    margin-right: .45rem;
}

.message-wrapper{
    display: flex;
    flex-direction: column;
    width: 95%;
    padding-left: .7rem;
    margin-bottom: 2rem;

}

.message-wrapper label{
    color:rgba(0,0,0, .5);
    letter-spacing: 2px;
    padding: .5rem 0;

}










/*about animation */
.animation{
   
    height: 3rem;
    width: 100%;
    padding: 2px;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    

}

.line1,.line2,.line3,.line4,.line5,.line6,.line7,.line8,.line9,
.line10,.line11,.line12 {
    
    border-right: 1px dotted rgba(0,0,0, 1);
    margin: .8rem;
    height: 1rem;
    
    
    
    
    
}

.line1{

    animation: line-rotation1 3s ease-in-out infinite alternate;

}
.line2{
    
    animation: line-rotation2 3s ease-in-out 25ms infinite alternate;
}
.line3{
    
    animation: line-rotation3 3s ease-in-out 50ms infinite alternate;
    
}

.line4{
    
    animation: line-rotation4 3s ease-in-out 60ms infinite alternate;
    
}
.line5{
    
    animation: line-rotation5 3s ease-in-out 70ms infinite alternate;
    
}
.line6{
    
    animation: line-rotation6 3s ease-in-out 80ms infinite alternate;
    
}
.line7{
    
    animation: line-rotation7 3s ease-in-out 90ms infinite alternate;
    
}
.line8{
    
    animation: line-rotation8 3s ease-in-out 100ms infinite alternate;
    
}
.line9{
    
    animation: line-rotation9 3s ease-in-out 200ms infinite alternate;
    
}
.line10{
    
    animation: line-rotation10 3s ease-in-out 300ms infinite alternate;
    
}
.line11{
    
    animation: line-rotation11 3s ease-in-out 400ms infinite alternate;
    
}
.line12{
    
    animation: line-rotation12 3s ease-in-out 500ms infinite alternate;
    
}


@keyframes line-rotation1{

    0% {transform: rotate(0deg)}
    100% {transform: rotate(80deg)}

}

@keyframes line-rotation2{
    0%{transform: rotate(-30deg)}
    100%{transform: rotate(75deg)}
}

@keyframes line-rotation3{
    0%{transform: rotate(-35deg)}
    100%{transform: rotate(70deg)}
}
@keyframes line-rotation4{
    0%{transform: rotate(-40deg)}
    100%{transform: rotate(65deg)}
}
@keyframes line-rotation5{
    0%{transform: rotate(-45deg)}
    100%{transform: rotate(60deg)}
}
@keyframes line-rotation6{
    0%{transform: rotate(-50deg)}
    100%{transform: rotate(55deg)}
}
@keyframes line-rotation7{
    0%{transform: rotate(-55deg)}
    100%{transform: rotate(50deg)}
}
@keyframes line-rotation8{
    0%{transform: rotate(-60deg)}
    100%{transform: rotate(45deg)}
}
@keyframes line-rotation9{
    0%{transform: rotate(-65deg)}
    100%{transform: rotate(40deg)}
}
@keyframes line-rotation10{
    0%{transform: rotate(-70deg)}
    100%{transform: rotate(35deg)}
}
@keyframes line-rotation11{
    0%{transform: rotate(-75deg)}
    100%{transform: rotate(30deg)}
}
@keyframes line-rotation12{
    0%{transform: rotate(-85deg)}
    100%{transform: rotate(0deg)}
}

