*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

.home-body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  overflow: hidden; }

.home-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .home-header__input {
    display: none; }
  .home-header__input:checked ~ nav {
    transform: scale(1, 1); }
  .home-header__input:checked ~ nav li a {
    opacity: 1;
    transition: opacity 500ms ease-in-out 500ms; }
  .home-header__toggle-label {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    padding: 1rem; }
  .home-header__image-div {
    width: 5rem; }
    .home-header__image-div .home-header__image-logo {
      width: 100%;
      padding-top: .2rem; }

.home__nav {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  height: 120vh;
  background-color: #fff;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 500ms ease-in-out 150ms;
  z-index: 999; }
  .home__nav .home-nav__li {
    list-style: none;
    padding: .75rem;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2); }
  .home__nav .home-nav-li__a {
    text-decoration: none;
    color: inherit;
    opacity: 0;
    transition: opacity 250ms ease-in-out; }

.home-nav__li-about-drop {
  list-style: none;
  padding: .75rem .75rem .75rem 1.5rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2); }
  .home-nav__li-about-drop .home-nav-li-about-drop__a {
    text-decoration: none;
    color: inherit;
    opacity: 0;
    transition: opacity 250ms ease-in-out; }

.home-nav__li-compass-drop {
  list-style: none;
  padding: .75rem .75rem .75rem 1.5rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2); }
  .home-nav__li-compass-drop .home-nav-li-compass-drop__a {
    text-decoration: none;
    color: inherit;
    opacity: 0;
    transition: opacity 250ms ease-in-out; }

.social-icons {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2); }
  .social-icons .social-icons__a {
    color: inherit; }
    .social-icons .social-icons__a .fab {
      opacity: .3;
      margin-right: .5rem; }
    .social-icons .social-icons__a .fas {
      height: 3rem; }

.home-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden; }
  .home-wrapper__pic {
    object-fit: contain;
    width: 66.5rem;
    height: 100vh;
    margin-right: 4rem; }
