*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

.hm-bd {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  overflow: hidden; }

.hm-hd {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .hm-hd__input {
    display: none; }
  .hm-hd__input:checked ~ nav {
    transform: scale(1, 1); }
  .hm-hd__input:checked ~ nav li a {
    opacity: 1;
    transition: opacity 500ms ease-in-out 500ms; }
  .hm-hd__toggle-label {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    padding: 1rem; }
  .hm-hd__logo-div {
    width: 5rem; }
  .hm-hd__logo {
    width: 100%;
    padding-top: .2rem; }

.hm-nav {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  height: 120vh;
  background-color: #fff;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 500ms ease-in-out 150ms;
  z-index: 999; }

.hm-nav__li {
  list-style: none;
  padding: .75rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2); }

.hm-nav-li__a {
  text-decoration: none;
  color: inherit;
  opacity: 0;
  transition: opacity 250ms ease-in-out; }

.hm-nav__li-drop {
  list-style: none;
  padding: .75rem .75rem .75rem 1.5rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2); }
  .hm-nav__li-drop .hm-nav-li-drop__a {
    text-decoration: none;
    color: inherit;
    opacity: 0;
    transition: opacity 250ms ease-in-out; }

.hm-social-icons {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2); }
  .hm-social-icons .hm-social-icons__a {
    color: inherit; }
    .hm-social-icons .hm-social-icons__a .fab {
      opacity: .3;
      margin-right: .5rem; }
    .hm-social-icons .hm-social-icons__a .fas {
      height: 3rem; }

.hm-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden; }
  .hm-wrapper__pic {
    object-fit: contain;
    width: 66.5rem;
    height: 100vh;
    margin-right: 4rem; }
